
#filter {
    justify-content: center;
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
    column-gap: 50px;
    background-color: #b6c09f;
    padding-bottom: 20px;
    margin-top: -10px;
    border-radius: 8px;
    text-align: center;
    width: 85%;
}

.filter-time, #filter-category {
    max-width: max-content;
    min-height: 20px;
    font-size: 12px;
    background-color: #f0f1ea;
    color:black;
    border:none;
    padding: 1px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
}

#filter-title {
    grid-area: a;
}

.filter-time {
    grid-area: c;
}

#filter-wrapper {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#category-title {
    grid-area: b;
    margin-right: 40px;
}

#filter-category {
    grid-area: d;
    margin-left: 20px;
}


@media screen and (max-width: 463px) {
    #aside {
         width: 70%;
     }

    #show-details-button {
        width: max-content;
        font-size: 13px;
     }
   }
 

