
#wrapper {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    grid-template-areas:
    "a b";
    width: 100%;
    margin-left: 5px;
  }

  #expense-area {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    #wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 70%;
    }
  }
