#new-expense {
    grid-area: b;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
    border-bottom: 3px #393a388f;
    border-top-style: none;
    border-right-style: none;
    /* border-bottom-style: dotted; */
    border-left-style: none;
    padding-bottom: 5px;
}

#new-expense #date, #new-expense #input, #cost {
    background-color: #f0f1ea;
    border-radius: 5px;
    border: none;
    color:black;
    margin-left: 5px;
}

#new-expense #date {
    font-size: 12px;
    width: 115px;   
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;   
}

#new-expense #input {
    width: 25%;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 10px;
    margin-right: 5px;
}

#cost {
    width: 55px;
    text-align: center;
  }


.submit {
    font-size: 12px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1b1b1b;
    color:#b6c09f;
    box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.2), 0 25px 50px 0 rgba(0,0,0,0.1);
}

@media screen and (max-width: 700px) {
    #new-expense {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 70%;
      margin: auto;
    }
  }

  @media screen and (max-width: 463px) {
    #new-expense p {
         width: max-content;
     }
   }
 

